body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(245, 239, 239);
}
.about{
    
    
    padding: 60px 24px;
    background-color: rgb(72, 72, 105);
    color:white;
    display:flex;
    flex-direction:column; 
    &__container{
       display:flex;
       flex-direction: column;
    
    }
       
&__picture{      
    width:20rem;
    height:20rem;
    border-radius:50%;
    margin-right:2rem;
    
   
}
&__heading{
    width:100%;
    text-align: center;
    font-size: 4rem;
    
    animation: fadeIn linear 7s;
 
   
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:2;}
  }   

&__paragraph{
   
    font-size: 1.5rem;
    text-align: justify;
   

}
&__subcontainer{
    display:flex;
    align-items: center;
    width:100%;
    
}


}